<div class="col-sm-12">
	<h1>Handlers</h1>

	<div class="row" ng-repeat="handler in handlers">
		<div class="col-sm-3">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary" ng-class="{ active: handler.Active }" ng-click="update(handler, true)">
					<input type="radio" name="{{ handler.Name }}" autocomplete="off" ng-checked="handler.Active">
					Enabled
				</label>
				<label class="btn btn-primary" ng-class="{ active: !handler.Active }" ng-click="update(handler, false)">
					<input type="radio" name="{{ handler.Name }}" autocomplete="off" ng-checked="!handler.Active">
					Disabled
				</label>
			</div>
		</div>
		<div class="col-sm-9"><p>{{ handler.Name }}</p></div>
	</div>
</div>
