<!DOCTYPE html>
<html lang="en" ng-app="admin">
<head>
	<meta charset="utf-8">
	<title>Ocular8 Admin *GO*</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/angular.xeditable/0.1.8/css/xeditable.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-cookies.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>
	<script src="//cdn.jsdelivr.net/angular.xeditable/0.1.8/js/xeditable.min.js"></script>

	{{ range .AppFiles }}<script src="/app/{{ . }}"></script>
	{{ end }}

	<style type="text/css">
	.glyphicon-spin {
		-webkit-animation: spin 1000ms infinite linear;
		animation: spin 1000ms infinite linear;
	}
	@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(359deg);
			transform: rotate(359deg);
		}
	}
	@keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(359deg);
			transform: rotate(359deg);
		}
	}
	body {
		padding-bottom:50px;
	}
	.input-config {
		width:450px !important;
	}
	</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/">
				Ocular8 Admin
			</a>
			<div class="navbar-text navbar-right">
				<span class="glyphicon glyphicon-refresh glyphicon-spin" ng-show="RequestsActive"></span>
			</div>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#/config">Config</a></li>
			<li><a href="#/pubs">Pubs</a></li>
		</ul>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div ng-view></div>
	</div>
</div>
</body>
</html>
