<div class="col-sm-12">
	<h1>Main Configuration</h1>
	<div class="row" ng-repeat="config in configs" ng-include="'single-config.partial.html'"></div>
	<h2>Handler Configuration</h1>
	<div class="row" ng-repeat="(name, handlerConfigs) in handlerSets">
		<div class="col-sm-12">
			<h2>{{ name  }}</h2>
			<div class="row" ng-repeat="config in handlerConfigs" ng-include="'single-config.partial.html'"></div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="single-config.partial.html">
<div class="col-sm-12">
	<div class="row">
		<div class="col-sm-2">{{ config.HumanKey }}</div>
		<div class="col-sm-5">{{ config.Desc || 'System variable. Editing not allowed' }}</div>
		<div class="col-sm-5">
			<a href="#/config" editable-text="config.Value" e-class="input-config" onaftersave="update(config)" ng-if="config.CanEdit">
				{{ config.Value || 'no value' }}
			</a>
			<span ng-if="!config.CanEdit" title="Editing not allowed">
				{{ config.value || 'no value' }}
			</span>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-7 col-sm-5">
			<span class="text-muted">
				Default: <em>{{ config.Default }}</em>
			</span>
		</div>
	</div>
</div>
</script>
