<div class="col-sm-12">
	<h1>Publications</h1>

	<div class="row">
		<div class="col-sm-8">
			<form class="form-horizontal" ng-submit="search()">
				<div class="input-group">
					<input type="search" class="form-control" placeholder="Search Publication Name or ID" ng-model="Params.query" autofocus>
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary">
							<span class="glyphicon glyphicon-search"></span>
							Search
						</button>
					</span>
				</div>
			</form>
		</div>
		<div class="col-sm-offset-2 col-sm-2">
			<a href="#/pubs/new" class="btn btn-primary btn-block">
				<span class="glyphicon glyphicon-plus"></span>
				Add Publication
			</a>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Feeds</th>
				<th>Articles</th>
				<th>Readers</th>
				<th>Last Modified</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="Pub in Pubs">
				<td><code>{{ Pub.Id }}</code></td>
				<td><a href="#/pubs/{{ Pub.Id }}">{{ Pub.Name }}</a></td>
				<td>{{ Pub.NumFeeds | number }}</td>
				<td>{{ Pub.NumArticles | number }}</td>
				<td>{{ Pub.NumReaders | number }}</td>
				<td>{{ Pub.LastUpdate | date }}</td>
			</tr>
		</tbody>
	</table>
</div>
