<div class="col-sm-12">
	<h1>Publications</h1>
	<p class="lead">
		{{ Total | number }} Result{{ Total != 1 && "s" || "" }}. Page {{ Offset + 1 }} of {{ TotalPages | number }}
	</p>
</div>
<div class="col-sm-12">
	<div class="row">
		<div class="col-sm-8">
			<form class="form-horizontal" ng-submit="search()">
				<div class="input-group">
					<input type="search" class="form-control" placeholder="Search Publication Name or ID" ng-model="Params.query" autofocus>
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary">
							<span class="glyphicon glyphicon-search"></span>
							Search
						</button>
					</span>
				</div>
			</form>
		</div>
		<div class="col-sm-offset-2 col-sm-2">
			<a href="#/pubs/new" class="btn btn-primary btn-block">
				<span class="glyphicon glyphicon-plus"></span>
				Add Publication
			</a>
		</div>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Feeds</th>
				<th>Articles</th>
				<th>Readers</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="Pub in Pubs">
				<td><code>{{ Pub.Id }}</code></td>
				<td><a href="#/pubs/{{ Pub.Id }}">{{ Pub.Name }}</a></td>
				<td>{{ Pub.NumFeeds | number }}</td>
				<td>{{ Pub.NumArticles | number }}</td>
				<td>{{ Pub.NumReaders | number }}</td>
			</tr>
		</tbody>
	</table>

	<div class="row">
		<div class="col-sm-12 text-center">
			<nav>
				<ul class="pager">
					<li ng-class="{disabled: Links.first == null}">
						<a href="#pubs?{{ Links.first.qs }}"><span aria-hidden="true">&laquo;</span> First</a>
					</li>
					<li ng-class="{disabled: Links.prev == null}">
						<a href="#pubs?{{ Links.prev.qs }}"><span aria-hidden="true">&lsaquo;</span> Previous</a>
					</li>
					<li ng-class="{disabled: Links.next == null}">
						<a href="#pubs?{{ Links.next.qs }}">Next <span aria-hidden="true">&rsaquo;</span></a>
					</li>
					<li ng-class="{disabled: Links.last == null}">
						<a href="#pubs?{{ Links.last.qs }}">Last <span aria-hidden="true">&raquo;</span></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
